# Build artifacts
bin/

# ISO & checksum artifacts
*.iso
*.iso.sha512
*.sha512

# Test artifacts
*.test
*.out

# OS & editor metadata
.DS_Store
.AppleDouble
.LSOverride
*.swp
*.swo
.idea/
.vscode/
.direnv/
